@model IEnumerable<Pkt.Models.Entites.CommonQuestion>
@{
    ViewData["Title"] = "Common Question List";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">

                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title"><b>Add Common Question</b></h3>
                    </div>


                    <form runat="server" id="quickForm" method="post" action="/CommonQuestions/UploadExcel" enctype="multipart/form-data">
                        <div class="card-body row">
                            <div class="form-group col-md-6 col-lg-6">
                                <label for="exampleInputEmail1">Excel File</label>
                                <input type="file" name="file" class="form-control" accept=".xlsx, .xls, .csv" id="exampleInputEmail1">
                            </div>
                            <div class="form-group col-md-3 col-lg-3">
                                &nbsp;<label for="exampleInputEmail1"> </label>
                                <div class="mt-2">
                                    &nbsp; &nbsp; <a href="~/dist/UploadFormatePapper.csv" title="upload format"><i class="fa fa-download" aria-hidden="true"> &nbsp; Download Format</i></a>
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-lg-3">
                                <div class="mt-4">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                         </div>
                    </form>
                </div>

            </div>
           
         </div>

    </div>
</section>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                 <div class="card card-info">
                    <div class="card-header">
                        <h2 class="card-title"><b>Common Question List</b></h2>
                        <p class="float-right">
                            @* <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-default">
                                Add New
                            </button> *@
                        </p>
                    </div>
                    
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Sr. No.
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Question)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.Answer)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedOn)
                                    </th>

                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int index = 1;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@index</td>
                                        <td>
                                            <i class="fa fa-question-circle" aria-hidden="true">&nbsp;</i>@Html.DisplayFor(modelItem => item.Question)
                                        </td>
                                        <td>
                                            <i class="fa fa-reply" aria-hidden="true"></i>&nbsp;@Html.DisplayFor(modelItem => item.Answer)
                                        </td>
                                     
                                        <td>
                                            <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; @Html.DisplayFor(modelItem => item.CreatedOn)
                                        </td>
                                         
                                        <td>
                                            <a href="javaScript:void(0)"><i class="fa fa-trash btn-delete" id="@item.Id" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    
                                        index++;
                                    
                                }
                                 </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(function () {
           
            $('#quickForm').validate({
                rules: {
                    file: {
                        required: true,
                    },
                },
                messages: {
                    file: {
                        required: "Please Select Excel or CSV file !"
                    },
                  
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });


            $('.btn-delete').on('click', function () {

                var id = $(this).attr('id');
               if(confirm("are you sure want to delete question ?"))
               {
                    $.ajax({
                        url: 'CommonQuestions/Delete/' + id,
                        type: 'GET',
                        success: function (response) {
                            if (response.success) {
                                toastr.success(response.message);
                                setTimeout(function () {
                                    location.reload();
                                }, 1000);
                            }
                        }
                    });
               }else{

               }
                
             });
            


        });
    </script>

  
            }